*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-content{
    padding: 15px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.status{
    border: 4px solid salmon;
    width: 100%;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 15px;
    
}
.status{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 110px;
    height: 110px;
    background-color: brown;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.8s;
    cursor: pointer;
}
.flipped{
    transform: rotateY(180deg);
} 

.face{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front{
    background-color: rgb(65, 65, 65);
    color: white;
    font-size: 60px;
}

.back{
    background-color: white;
   
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.disabled{
    pointer-events: none;
}

.checked{
    pointer-events: none;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay button {
    padding: 10px;
    color: white;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.startButton{
    background-color: orangered;
}
.won{
    text-align: center;
    padding: 20px;
    background-color: white;
    color: black;
    font-size: 40px;
    display: none;
    width: 500px;
    border-radius: 5px;
    
    flex-direction: column;
    gap: 10px;
    
}

.lose{
    text-align: center;
    padding: 20px;
    background-color: white;
    color: red;
    font-size: 40px;
    display: none;
    width: 500px;
    border-radius: 5px;
    
    flex-direction: column;
    gap: 10px;
}

.playAgain{
    background-color: rgb(61, 238, 55);
}

.tryAgain{
    background-color: rgb(27, 141, 194);
}